{% extends "base.html" %}

{% block title %}
Magnan articles - Chat - Terms os service
{% endblock %}

{% block content %}
<h3>Following data is sent to the developer if you send a feedback message through the Magnan chat:</h3>
<ul>
    <li>Your username</li>
    <li>Subject of your message</li>
    <li>Text of your message</li>
    <li>Your webbrowser name and version</li>
    <li>Whether you anabled cookies</li>
    <li>Your prefered languages</li>
    <li>Your operating system</li>
    <li>Information about your screen (width, color depth, etc)</li>
</ul>
{% endblock %}
